@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.main,
.quote,
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60%;
    width: 60%;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.sub-text {
    width: 410px;
}

.sub-text,
a {
    font-size: 18px;
    color: #e5e7eb;
    opacity: 0.9;
}

.header-logo {
    width: 80px;
    height: auto;
}

.links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 400px;
}

.hero .container {
    display: flex;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.hero-image {
    flex: 1 0 50%;
    display: flex;
    justify-content: end;
}

img {
    height: 100%;
    width: auto;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 110px;
}

button:hover {
    border: solid;
    border-color: white;
    font-size: 100%;
    border-width: 2px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 6px;
    width: 410px;
}

.newsletter-text h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 800px;
    text-align: center;
}

h3 {
    font-size: smaller;
    text-align: right;
    margin-top: 0px;
    padding-right: 40px;
}

p {
    color: #f9faf8;
    width: 500px;
}

.quote {
    height: 300px;
    background-color: #e5e7eb;
}

.main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 80px;
}

.bottom {
    height: 300px;  
}

.bottom .container {
    background-color: #3882f6;
    height: 40%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom .container button {
    border: 1px solid white;
}

.quote .container{
    padding: 20px 0px;
    color: #1f2937;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
}

.player {
    height: 160px;
    width: 160px;
    border-radius: 6px;
    border: 2px solid red;
}

.player:hover {
    border: 4px solid red;
}

a {
    text-decoration: none;
    font-weight: 100px;
    opacity: 0.5;
}

a:hover {
    opacity: 0.9;
}

.main {
    display: flex;
    flex-direction: column;
}

.card {
    height: 260px;
    width: 180px;
}

.card .text {
    max-height: 100px;
    color: gray;
    overflow: hidden;
}

.card div {
    text-align: center;
    overflow: hidden;
}

.newsletter-text {
    width: 300px;
}

.footer {
    padding: 20px 0px;
    color: #e5e7eb;
    text-align: center;
}